body{
  font-family: Arial, Helvetica, sans-serif;
}





.container{
  display:flex;
  
  flex-flow: row wrap;
  margin: -10px;
}

.container > * {
flex:1 100%;
}


h1{
  text-align: center;
  font-size: 40pt;
  font-weight: 900;
}

h2{
  text-align: center;
  font-size: 15pt;
}

h3{
  text-align: center;
  font-size: 20pt;
}

.unterÜberschrift{
  margin-top: -30px;
}


header{
  border: solid black;
  flex: 1;
  background-color:gray;
  order: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
   
}  

header a {
  text-decoration: none;
}
  
.navi{
flex: 1;
order: 2;

}    

.main{
  flex: 10 0px;
  background-color: white;
  order: 3;
  min-height: 550px;
  padding: 20px;
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
}

.footer {
  order: 4; 
  text-align: center;
  background-color:grey;
}


.naviListe{
  text-decoration: none;
  padding: 10px;
  display: flex;
}



.naviListe  a {
  min-width:   90px;
  min-height: 20px;
  border: 1px solid black;
  color:black;
  padding:3px;
  margin: 2px;
}

.naviListe a:hover {
  background-color:black;
  color: white;
}


 .unterlistehidden {
  display: none;
  border: 2px solid black;
  padding: 2px;
}

.unterliste a:hover .unterlistehidden {
  display:block;
}






.untereNavigation a{
  text-decoration: none;
  size: 10pt; 
  text-align: left;
}

.untereNavigation{
  align-self: flex-end; 
  width: 100%;
 
}


  
 
}
.videocontent{
  flex: 1; 
}

.hervorgehoben{
  color: red;
}




.video{
  height: 250;
  width: 250;
  
}

h4{
  font-weight: 900;
  size: 20pt;
}
.überschrift{
  float: left;
  size: 30pt;
  font-weight: 900;
  align-self: flex-start;
  
}
.teamtable tr td {
  border:1px solid black;
  padding: 1px;
  font-size: 20px;
 
  
  
}
.teamtable{
  margin: 10px;
  float: left;
  width: 500px;
  height: 500px;
  
}
